.card img {
  width: 150px;
  height: 200px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.card:hover img {
  transform: scale(1.1);
  border-radius: 10px;
}
@media only screen and (max-width: 768px) {
  .card img {
    width: 170px;
    height: 220px;
  }
}
